body {
	color: #111d13;
	font-family: garamond;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC5MQ_fkxPy2kwXx1_ofudTs_XCZHfXgJi8P82NYeLFHEhDb14JgYN-4bjQPfEgeu1b18&usqp=CAU");
}

p {
	text-align: center;
}

h1 {
	text-align: center;
}
.container {
	background-color: #b5e48c;
	border-radius: 15px;
	padding: 10px;

}

